/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	width: 375px;
	height: 3400px;
	background-color: #FFFFFF;
}

.n {
	position: fixed;
	top: 0;
}


h1 {
	font-family: YuMincho;
	font-size: 24px;
	text-align: center;
	padding-top: 70px;
}

.r {
	font-size: 12px;
	text-align: center;
	padding-top: 3px;
	font-family: YuMincho;
}

h3 {
	font-family: YuMincho;
	text-align: center;
	color: #666666;
	padding-top: 36px;
	line-height: 25px;
}

h2{
	font-size: 22px;
	font-family: YuMincho;
	text-align: center;
}

.p {
	padding-top: 96px;
}

div.y img {
	width: 102px;
	height: 38px;
}

.c {
	margin-left: 124px;
}

div.t img {
	width: 375px;
	height: 138px;
}

.kyori {
	padding-top: 34px;
}

.kyori2 {
	padding-top: 14px;
}

.kyori3 {
	padding-top: 63px;
}


.syo {
	padding-top: 5px;
	font-family: YuMincho;
	font-size: 12px;
	text-align: center;
}

p.b img {
	width: 100px;
	height: 33px;
}

p.ring img {
	width: 144px;
	height: 144px;
}

.kyori4 {
	padding-top: 38px;
}

.kyori5 {
	padding-top: 32px;
}

.komoji {
	font-family: YuMincho;
	font-size: 10px;
}

.narabu {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.kyori6 {
	padding: 7px;
}

.kyori7 {
	padding-top: 43px;
}

.kyori8 {
	padding-top: 53px;
}

.kyori9 {
	padding-top: 4px;
}

.kyori10 {
	padding-left: 5px;
}

div.header img {
	width: 375px;
	height: 50px;
}

div.shop img {
	width: 26px;
	height: 26px;
}

/*ハンバーガーメニュー*/
.l-drawer {
  position: relative;
}
.l-drawer__checkbox {
  display: none;
}
.l-drawer__icon {
  cursor: pointer;
  display: block;
  width: 31px;
  height: 31px;
  position: absolute;
  left: 10px;
  top: 9px;
}
.l-drawer__icon-parts, .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
  background-color: #000000;
  display: block;
  width: 24px;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
  content: " ";
}
.l-drawer__icon-parts:before {
  top: 12px;
}
.l-drawer__icon-parts:after {
  top: -12px;
}
.l-drawer__overlay {
  background: #000;
  opacity: 0;
  pointer-events: none;
  width: 375px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.l-drawer__menu {
  background: #95D6D0;
  color: #000;
  max-width: 100%;
  width: 100%;
  height: 812px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  left: 0;
  top: -812px;
}
.l-drawer__icon {
  z-index: 4;
}
.l-drawer__menu {
  z-index: 3;
}
.l-drawer__overlay {
  z-index: 2;
}
.l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts {
  background: transparent;
}
.l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}
.l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
.l-drawer__checkbox:checked ~ .l-drawer__overlay {
  opacity: 0.3;
  pointer-events: auto;
}
.l-drawer__checkbox:checked ~ .l-drawer__menu {
  top: 0;
}
.l-drawer__icon-parts, .l-drawer__icon-parts:after, .l-drawer__icon-parts:before, .l-drawer__overlay, .l-drawer__menu {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.l-drawer__item {
	padding-top: 100px;
}
.l-drawer__item-inner {
	color: #000000;
	font-family: "HiraMinPro-W6";
	font-size: 32px;
}
.hm_1 {
	text-align: center;
	margin-top: 100px;
}
/*ハンバーガーメニュー*/
